@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700);


.main-pannel {
padding-top: 40px;
}


#categories-user-region ul.row{

margin-left: 0;
margin-right: 0;
padding-left: 10px;
}

.price-table:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  background: -webkit-linear-gradient(-135deg, #34495e 50%, transparent 50%) 0 50%, -webkit-linear-gradient(-45deg, #34495e 50%, transparent 50%) 0 50%, transparent;
  background-repeat: repeat-x;
  background-size: 16px 16px, 16px 16px, cover, cover;
  height: 16px;
  width: 100%;
}

.head {
  position: relative;
}

.head h1 {
  color:#48c9b0;
  font-weight: 100;
}
.head:after, .head:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #eaeaea;
  position: absolute;
  right: -8px;
  border-radius: 50%;
  z-index: 2000;
  bottom: -7px;
}
.head:after {
  left: -8px;
}

button {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 0;
  border: 2px solid #c5c5c5;
  background: none;
  text-align: center;
  font-size: 1.35em;
  transition: all 200ms;
}
button:hover {
  border-radius: 3px;
  background-color: #c5c5c5;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kreon', serif;
  background-color: #5d5d5d;
  color: #c5c5c5;
}

.bold {
  font-weight: 700;
}

.page-container {
  width: 880px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.add-films h1 {
  font-style: italic;
  color: #e6e6e6;
}
.add-films .price-table {
  padding-bottom: 18px;
  text-align: right;
}
.add-films .dollar {
  line-height: 2.5;
}
.add-films .year {
  vertical-align: middle;
  padding: 0 10px 0 10px;
  font-size: .2em;
}
.add-films .contents {
  text-align: center;
  font-size: 32px;
  margin-top: 55px;
  margin-bottom: 0;
}
.add-films a.proceed-anyway {
  display: block;
  color: #c5c5c5;
}
.add-films .price {
  margin-bottom: 40px;
  margin-top: -40px;
  margin-left: 0;
  text-align: center;
}
.add-films .price h2 {
  line-height: 1.5em;
}
.add-films button {
  margin-bottom: 10px;
  font-size: 1em;
}





.price-table {
  display: block;
  position: relative;
  width: 100%;
  bottom: -1000px;
  margin-right: 3%;
  padding: 0;
  border-radius: 7px 7px 0px 0px;
  background-color: #34495e;
  text-align: center;
  transition: bottom 400ms 200ms ease-in-out;
}
.arise .price-table {
  bottom: 0px;
}



.price-table {
 margin-top: 20px;
 padding-bottom: 20px;

}

.head {
  padding: 25px 2em;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}

h1 {
  font-weight: 300;
  line-height: 0;
  font-size: 1.5em;
  display: inline-block;
}

.fa-barcode {
  float: right;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  line-height: 2em;
  margin: 0;
}

.dollar {
  font-size: .5em;
  vertical-align: top;
  line-height: 3.3;
}

.year {
  font-size: .3em;
  font-weight: 300;
  text-transform: uppercase;
}

.price {
  font-size: 70px;
  color: #e6e6e6;
  margin-left: 20px;
  margin-bottom: -30px;
}

.submit {
  margin-bottom: 30px;
  color: #e6e6e6;
}

.contents {
  text-align: left;
  line-height: 2;
  font-weight: 300;
  color: #e6e6e6;
  padding-bottom: 10px;
}
.contents li {
  list-style: none;
}
/*.contents li:last-child {
  margin-top: 1em;
}*/
.contents ul {
  margin: 0;
  padding-left: 20px;
}

.title.headd {
  width: 90%;
  margin-left: 3%;
  padding: 15px 7px 0;


}




.title.headd h1, .gallery-title {
  color: #34495e;
/*text-shadow: 1px 1px rgba(0, 0, 0, 0.4);*/
font-weight: 400;
letter-spacing:1px;
}

.gallery-title {
padding: 1em 1em 0.2em;
}

.showall {
margin-top: 30px;
margin-bottom: 5px;
}

.new-image {
width: 200px;
display: inline-block;

}

.tickett {
width: 100%;
height:250px;
display: inline-block;
padding-top: 0;
-webkit-transition: all 1s;
}

.tickett:hover {
  -webkit-filter: invert(100%);
}

.showall {
color:#E74C3C;

}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.edit-document {
letter-spacing: .01rem;
font-weight: 100;
font-style: normal;
font-size: 22px;
line-height: 1.5;
}

.description-section {
padding: 1em 2em 1.7em;
background: rgba(255,255,255,0.1);
}

.description-section .deslegend {
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing:2px;
  text-shadow:0px 1px 0px #333;
  color:#FFF9EE;


}




.rubber_stamp {
  display: table-cell;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 1.4em;
  line-height: 30px;
   padding-top: 10px;
/*  color: rgba(99, 76, 122, 1);
  border: 2px solid rgba(99, 76, 122, 1);*/
  border-radius: 50%;
  position: absolute;
  top:20px;
  right:5%;
/*  opacity: 0.8;*/
-webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);*/
}

.rubber_stamp_idle {
/*  color: rgba(99, 76, 122, 1);*/
  border: 2px solid #333;
  color: #333;
  text-shadow:0px 1px 0px #333;
  box-shadow:1px 1px 0px #333;
}

/*.rubber_stamp:hover {
  color: rgba(255,255,255,0.1);
  background-color: rgba(99, 76, 122, 1);
  border: 2px solid rgba(255,255,255,1);
}*/

.rubber_stamp:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  background: url('/assets/download2.png')
}


.nopictures {

  padding-left: 2em;


}
