.image-order {
	margin-top: 50px;
	background-color: #eaeaea;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.05);
	height:400px;
   overflow:scroll;

}

.image {
	border: 5px solid white;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
	cursor: move;
	display: block;
	-webkit-user-select: none;
	user-select: none;
	margin: 20px auto;
}


.image img {
	display: block;
	height: 100%;
	width: 100%;
}
