

 <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
          <div>
	          <h3>Hello!</h3>
						<div id="side-menu"></div>
          </div>
      </div>
  </div>

  <div id="content" class="snap-content">
      <div id="header-region"></div>
      <div id="photo-region" class="container"></div>
			<div id="main-region" class="container"></div>
			<div id="footer-region"></div>
  </div>



<%= javascript_tag do %>
	$(function() {
		TB.start({
    	currentUser: gon
		});
	});

<% end %>

  <%= javascript_tag do %>
        var snapper = new Snap({
            element: document.getElementById('content'),
						disable: 'right'
        });
  <% end %>
